<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Chat </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="chatbox scroller" style="flex: 1">
      <div class="col-1">
        <div
          *ngFor="let message of messages"
          class="msg-row {{authUser.id==message.userId ? 'msg-row2' : ''}}"
        >
          <div class="msg-text">
            <span class="msg-name"
              >{{message.firstName}} {{message.lastName}}</span
            >
            <p>{{message.content}}</p>
            <p class="ion-text-end">{{formatDate(message.date)}}</p>
          </div>

          <ion-icon
            name="{{message.isCritic ? 'diamond' : 'beer'}}-outline"
            size="large"
            class="handle-margin handle-icon-{{ message.isCritic ?'critics' : 'public'}} msg-img"
          ></ion-icon>
        </div>
      </div>
    </div>
    <div class="ion-padding">
      <ion-card class="ion-padding">
        <form [formGroup]="chatForm" style="display: flex; align-items: center">
          <ion-input
            formControlName="message"
            type="text"
            placeholder="Message..."
            [clearInput]="true"
            style="flex: 1"
          ></ion-input>
          <ion-button
            (click)="sendMessage()"
            [disabled]="!chatForm.controls['message'].value || sending"
            fill="clear"
          >
            <ion-icon name="send-outline"></ion-icon>
          </ion-button>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
