.handle-margin {
     margin-right: 5px;
}

.handle-title {
     font-weight: bold;
}

.handle-margin {
     margin-left: 5px;
}

.handle-margin-text {
     margin-left: 5px;
     margin-right: 5px;
}

.handle-icon-critics {
     color: yellow;
     font-size: 24px;
}

.handle-icon-public {
     color: red;
     font-size: 24px;
}

.handle-icon-starts {
     font-size: 20px;
}

ion-label {
     font-size: 25px;
}