<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ data.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img
      src="{{ data.posterUrl ? data.posterUrl : '../../../assets/cover3.png' }}"
      width="400"
      height="350"
      alt="Null image"
    />

    <ion-card-header>
      <ion-card-title class="ion-text-center handle-title">
        {{ data.title }}
      </ion-card-title>

      <ion-card-subtitle class="ion-text-center">{{
        setYear(data.date)
      }}</ion-card-subtitle>

      <ion-card-subtitle class="ion-text-center">
        <ion-icon name="star-outline" class="handle-icon-starts"></ion-icon>
        <ion-icon name="star-outline" class="handle-icon-starts"></ion-icon>
        <ion-icon name="star-outline" class="handle-icon-starts"></ion-icon>
        <ion-icon name="star-outline" class="handle-icon-starts"></ion-icon>
        <ion-icon name="star-outline" class="handle-icon-starts"></ion-icon>
        <ion-label class="handle-margin-text">{{ data.criticScore }}</ion-label>
        <ion-icon name="diamond-outline" class="handle-icon-critics"></ion-icon>
      </ion-card-subtitle>

      <ion-card-subtitle class="ion-text-center">CRITICS</ion-card-subtitle>

      <ion-card-subtitle class="ion-text-center"
        >{{ data.criticRatings }} Ratings</ion-card-subtitle
      >

      <ion-card-subtitle class="ion-text-center">
        <ion-icon name="star-outline" class="handle-icon-starts"></ion-icon>
        <ion-icon name="star-outline" class="handle-icon-starts"></ion-icon>
        <ion-icon name="star-outline" class="handle-icon-starts"></ion-icon>
        <ion-icon name="star-outline" class="handle-icon-starts"></ion-icon>
        <ion-icon name="star-outline" class="handle-icon-starts"></ion-icon>
        <ion-label class="handle-margin-text">{{ data.publicScore }}</ion-label>
        <ion-icon
          name="beer-outline"
          class="handle-margin handle-icon-public"
        ></ion-icon>
      </ion-card-subtitle>

      <ion-card-subtitle class="ion-text-center">PUBLICS</ion-card-subtitle>

      <ion-card-subtitle class="ion-text-center"
        >{{ data.publicRatings }} Ratings</ion-card-subtitle
      >

      <ion-card-subtitle class="ion-text-center">
        <ion-button
          id="open-modal"
          shape="round"
          fill="outline"
          color="secondary"
        >
          <ion-icon name="play" class="handle-margin"></ion-icon>
          View trailer
        </ion-button>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-modal
    #modal
    trigger="open-modal"
    [initialBreakpoint]="0.5"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
  >
    <ion-content class="ion-padding">
      <!-- <video src="{{ data.trailerUrl }}" controls width="380"></video> -->
      <iframe
        width="380"
        height="315"
        src="https://www.youtube.com/embed/2xwjjEgGLRg"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </ion-content>
  </ion-modal>

  <ion-button fill="clear" color="dark">
    <ion-icon
      name="caret-forward-outline"
      size="large"
      class="handle-icon"
    ></ion-icon>
    <ion-label class="handle-label">RATE</ion-label>
  </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-start">
        <ion-icon
          *ngIf="user.isCritic"
          name="diamond-outline"
          class="handle-icon-critics"
        ></ion-icon>
        <ion-icon
          *ngIf="!user.isCritic"
          name="beer-outline"
          class="handle-margin handle-icon-public"
        ></ion-icon>
        {{ user.firstName }} {{ user.lastName }}
      </ion-card-title>

      <ion-card-subtitle class="ion-text-center">
        <ion-button
          fill="clear"
          [color]="stars[0] ? 'warning' : 'dark'"
          (click)="setRate(1)"
        >
          <ion-icon
            [name]="stars[0] ? 'star' : 'star-outline'"
            class="handle-icon-starts-rate"
          ></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          [color]="stars[1] ? 'warning' : 'dark'"
          (click)="setRate(2)"
        >
          <ion-icon
            [name]="stars[1] ? 'star' : 'star-outline'"
            class="handle-icon-starts-rate"
          ></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          [color]="stars[2] ? 'warning' : 'dark'"
          (click)="setRate(3)"
        >
          <ion-icon
            [name]="stars[2] ? 'star' : 'star-outline'"
            class="handle-icon-starts-rate"
          ></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          [color]="stars[3] ? 'warning' : 'dark'"
          (click)="setRate(4)"
        >
          <ion-icon
            [name]="stars[3] ? 'star' : 'star-outline'"
            class="handle-icon-starts-rate"
          ></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          [color]="stars[4] ? 'warning' : 'dark'"
          (click)="setRate(5)"
        >
          <ion-icon
            [name]="stars[4] ? 'star' : 'star-outline'"
            class="handle-icon-starts-rate"
          ></ion-icon>
        </ion-button>
      </ion-card-subtitle>

      <ion-card-subtitle class="ion-text-end">
        <ion-button
          fill="outline"
          color="success"
          shape="round"
          (click)="submitRate()"
        >
          Submit
        </ion-button>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-button fill="clear" color="dark">
    <ion-icon
      name="caret-forward-outline"
      size="large"
      class="handle-icon"
    ></ion-icon>
    <ion-label class="handle-label"
      >{{ IsTv ? "SHOW" : "MOVIE" }} INFO</ion-label
    >
  </ion-button>

  <div class="handle-movie-info">
    <p>
      <span class="handle-movie-info-titles">Overview: </span
      >{{ data.overview }}
    </p>
    <p>
      <span class="handle-movie-info-titles">Genres: </span
      >{{ setGenres(data.genres) }}
    </p>
    <p>
      <span class="handle-movie-info-titles">Original Language: </span
      >{{ data.language }}
    </p>
    <p>
      <span class="handle-movie-info-titles">Release Date: </span
      >{{ setDate(data.date) }}
    </p>
    <p>
      <span class="handle-movie-info-titles">Adult: </span
      >{{ data.adult ? "Yes" : "No" }}
    </p>
  </div>

  <ion-button fill="clear" color="dark">
    <ion-icon
      name="caret-forward-outline"
      size="large"
      class="handle-icon"
    ></ion-icon>
    <ion-label class="handle-label">REVIEWS</ion-label>
  </ion-button>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="reviewForm">
        <ion-item>
          <ion-textarea
            ngDefaultControl
            formControlName="input-review"
            placeholder="Post a review"
            [counter]="true"
            maxlength="270"
          ></ion-textarea>
          <ion-button
            fill="outline"
            shape="round"
            [strong]="true"
            [disabled]="!reviewForm.controls['input-review'].value || creating"
            (click)="postReview()"
          >
            Send
          </ion-button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <app-reviews *ngFor="let review of reviews" [data]="review"></app-reviews>
</ion-content>
