.handle-margin {
     margin-right: 5px;
}

.handle-title {
     font-weight: bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-transform: uppercase;
}

.handle-margin {
     margin-left: 5px;
}

.handle-margin-text {
     margin-left: 5px;
     margin-right: 5px;
}

.handle-icon-critics {
     color: yellow;
     font-size: 24px;
}

.handle-icon-public {
     color: red;
     font-size: 24px;
}

.handle-icon-starts {
     font-size: 20px;
}

.handle-icon-starts-rate {
     font-size: 24px;
}

.handle-icon {
     color: orangered;
     /* margin-top: 30px; */
     padding-top: 10px;
}

ion-label {
     font-size: 25px;
}

p {
     line-height: 1.5;
}

.handle-label {
     font-size: 16px;
     margin-top: 12px;
}

.handle-movie-info {
     padding-left: 23px;
}

.handle-movie-info-titles {
     font-weight: bold;
     font-size: 16px;
}