<ion-loading #loading spinner="crescent" class="custom-loading"></ion-loading>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Profile </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu #menu side="end" contentId="main-content">
  <ion-content class="ion-padding">
    <ion-buttons>
      <ion-button
        id="open-edit-profile"
        shape="round"
        fill="clear"
        color="dark"
        expand="full"
      >
        Edit profile
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button
        (click)="logOut()"
        shape="round"
        fill="clear"
        color="danger"
        expand="full"
      >
        Log Out
        <ion-icon name="log-out-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content">
  <ion-card>
    <ion-row class="wrapper">
      <ion-col size="1">
        <ion-icon
          name="beer-outline"
          class="handle-icon-public"
          size="large"
        ></ion-icon>
      </ion-col>
      <ion-col size="11" class="padding-col">
        <ion-row>
          <ion-col size="12">
            <ion-card-title class="handle-title">
              {{user.firstName}} {{user.lastName}}
            </ion-card-title>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="12">
        <div class="handle-title handle-margin ion-text-center">
          {{user.isCritic ? 'Critic' : 'Public'}} user 
        </div>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- RATINGS CARD -->
  <ion-card>
    <ion-button fill="clear" color="dark">
      <ion-icon
        name="caret-forward-outline"
        size="large"
        class="handle-icon"
      ></ion-icon>
      <ion-label class="handle-label">RATINGS</ion-label>
    </ion-button>

    <ion-card-subtitle class="ion-text-center">
      <ion-button fill="clear" color="warning">
        <ion-icon
          name="star-outline"
          class="handle-icon-starts-rate"
        ></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="warning">
        <ion-icon
          name="star-outline"
          class="handle-icon-starts-rate"
        ></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="warning">
        <ion-icon
          name="star-outline"
          class="handle-icon-starts-rate"
        ></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="warning">
        <ion-icon
          name="star-outline"
          class="handle-icon-starts-rate"
        ></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="warning">
        <ion-icon
          name="star-outline"
          class="handle-icon-starts-rate"
        ></ion-icon>
      </ion-button>
    </ion-card-subtitle>

    <ion-card-subtitle class="ion-text-center handle-margin">
      {{user.ratings}} ratings
    </ion-card-subtitle>
  </ion-card>

  <!-- REVIEWS CARD -->
  <ion-card>
    <ion-button fill="clear" color="dark">
      <ion-icon
        name="caret-forward-outline"
        size="large"
        class="handle-icon"
      ></ion-icon>
      <ion-label class="handle-label">REVIEWS</ion-label>
    </ion-button>

    <ion-card-subtitle class="ion-text-center">
      <ion-button fill="clear" color="dark">
        <ion-icon
          name="chatbox-ellipses-outline"
          class="handle-icon-starts-rate"
          size="large"
        ></ion-icon>
      </ion-button>
    </ion-card-subtitle>

    <ion-card-subtitle class="ion-text-center handle-margin-reviews">
      {{user.reviews}} reviews
    </ion-card-subtitle>
  </ion-card>

  <!-- EDIT PROFILE MODAL -->
  <ion-modal #editProfileModal trigger="open-edit-profile">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-icon
              name="arrow-back-outline"
              (click)="cancelEditProfile()"
              class="handle-back-button"
              size="small"
            ></ion-icon>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button
              [disabled]="updating"
              shape="round"
              fill="solid"
              color="dark"
              class="btn-width"
              [strong]="true"
              (click)="saveEditData()"
              >Save</ion-button
            >
          </ion-buttons>
          <ion-title>Edit profile</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-content>
            <form [formGroup]="editProfileForm">
              <ion-item>
                <ion-input
                  formControlName="firstName"
                  value="first name"
                  label="Fist name"
                  labelPlacement="floating"
                  [clearInput]="true"
                ></ion-input>
              </ion-item>
              &nbsp;
              <ion-item>
                <ion-input
                  formControlName="lastName"
                  label="Last name"
                  labelPlacement="floating"
                  [clearInput]="true"
                ></ion-input>
              </ion-item>
              &nbsp;
              <ion-item>
                <ion-input
                  #passwordInput
                  formControlName="password"
                  type="password"
                  label="Password"
                  labelPlacement="floating"
                >
                </ion-input>
                <ion-icon
                  [name]="eyeIcon"
                  slot="end"
                  (click)="togglePasswordVisibility()"
                ></ion-icon>
              </ion-item>
              &nbsp;
              <ion-item>
                <ion-input
                  #repeatPasswordInput
                  formControlName="repeatPassword"
                  type="password"
                  label="Repeat password"
                  labelPlacement="floating"
                  errorText="Passwords do not match"
                ></ion-input>
                <ion-icon
                  [name]="eyeIconRepeat"
                  slot="end"
                  (click)="toggleRepeatPasswordVisibility()"
                ></ion-icon>
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
