.handle-title {
     font-weight: bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-transform: uppercase;
}

.custom-text {
     font-size: 16px;
     margin-bottom: 5px;
     /* Ajusta el valor según el espacio deseado entre líneas */
     line-height: 1.5;
     /* Ajusta el valor según el espacio deseado entre líneas */
}

.padding-col {
     padding-left: 10px;
}

.name {
     font-weight: 600;
     font-size: 16px;
}

.handle-icon-critics {
     color: yellow;
}

.handle-icon-public {
     color: red;
}

.handle-icon-starts-rate {
     font-size: 24px;
}

.handle-label {
     font-size: 16px;
     margin-top: 12px;
}

.handle-icon {
     color: orangered;
     /* margin-top: 30px; */
     padding-top: 10px;
}

.handle-margin {
     margin-top: 10px;
     margin-bottom: 25px;
}

.handle-margin-reviews {
     margin-bottom: 25px;
}