<ion-header [translucent]="true">
  <div class="ion-text-end icon-search-home">
    <ion-icon
      id="open-modal-search"
      name="search-outline"
      color="dark"
      size="large"
    ></ion-icon>
  </div>
</ion-header>

<div>
  <ion-row>
    <ion-col size="4">
      <ion-button
        id="open-picker-genre"
        class="btn-width"
        shape="round"
        color="light"
      >
        Genre
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button class="btn-width" shape="round" color="light">
        <ion-datetime-button
          datetime="datetime"
          class="btn-width"
          shape="round"
          color="light"
        ></ion-datetime-button>
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button
        id="open-picker"
        class="btn-width"
        shape="round"
        color="light"
      >
        Order by
      </ion-button>
    </ion-col>
  </ion-row>
</div>

<ion-segment [(ngModel)]="segment">
  <ion-segment-button value="movies">
    <ion-label>Movies</ion-label>
  </ion-segment-button>
  <ion-segment-button value="series">
    <ion-label>Series</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ion-picker
    trigger="open-picker-genre"
    [columns]="pickerColumnsGenre"
    [buttons]="pickerButtonsGenre"
  ></ion-picker>

  <ion-picker
    trigger="open-picker"
    [columns]="pickerColumnsOrderBy"
    [buttons]="pickerButtonsOrderBy"
  ></ion-picker>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="datetime"
        presentation="year"
        [showDefaultButtons]="true"
      ></ion-datetime>
    </ng-template>
  </ion-modal>

  <div [hidden]="segment != 'movies'">
    <app-movies></app-movies>
  </div>

  <div [hidden]="segment != 'series'">
    <app-movies></app-movies>
  </div>

  <ion-modal #searchModal trigger="open-modal-search">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-icon
              name="close"
              (click)="cancelModalSearch()"
              class="handle-close-button"
            ></ion-icon>
          </ion-buttons>
          <ion-searchbar
            show-clear-button="focus"
            clear-icon="trash-bin"
          ></ion-searchbar>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
