<!-- <ion-loading #loading spinner="crescent" class="custom-loading"></ion-loading> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <form [formGroup]="searchForm">
      <ion-item>
        <ion-input
          formControlName="search"
          placeholder="Search"
          [clearInput]="true"
        ></ion-input>
      </ion-item>
    </form>
    <ion-buttons slot="end">
      <ion-icon
        name="search-outline"
        (click)="sendSearchForm()"
        class="handle-search-button"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div>
  <ion-row>
    <ion-col size="4">
      <ion-button
        id="open-picker-genre"
        class="btn-width"
        shape="round"
        color="light"
      >
        Genre
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button class="btn-width" shape="round" color="light">
        <ion-datetime-button
          datetime="datetime"
          class="btn-width"
          shape="round"
          color="light"
        ></ion-datetime-button>
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button
        id="open-picker"
        class="btn-width"
        shape="round"
        color="light"
      >
        Order by
      </ion-button>
    </ion-col>
  </ion-row>
</div>

<ion-segment [(ngModel)]="segment">
  <ion-segment-button value="movies">
    <ion-label>Movies</ion-label>
  </ion-segment-button>
  <ion-segment-button value="series">
    <ion-label>Series</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ion-picker
    trigger="open-picker-genre"
    [columns]="pickerColumnsGenre"
    [buttons]="pickerButtonsGenre"
  ></ion-picker>

  <ion-picker
    trigger="open-picker"
    [columns]="pickerColumnsOrderBy"
    [buttons]="pickerButtonsOrderBy"
  ></ion-picker>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        #datetime
        id="datetime"
        presentation="year"
        [showDefaultButtons]="true"
      >
      </ion-datetime>
    </ng-template>
  </ion-modal>

  <div [hidden]="segment != 'movies'">
    <app-movies
      *ngFor="let movie of movies"
      [data]="movie"
      [IsTv]="false"
    ></app-movies>

    <div *ngIf="noResults" class="no-results-div">
      <ion-icon name="skull" color="danger" size="large"></ion-icon>
      <ion-label class="handle-label">No results</ion-label>
    </div>

    <!-- <ion-list *ngIf="!loaded">
      <ion-list-header>
        <ion-skeleton-text
          [animated]="true"
          style="width: 80px"
        ></ion-skeleton-text>
      </ion-list-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80%"
            ></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text
              [animated]="true"
              style="width: 60%"
            ></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text
              [animated]="true"
              style="width: 30%"
            ></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list> -->

    <ion-list *ngIf="!loaded">
      <ion-card>
        <ion-thumbnail style="width: 2500px; height: 350px">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>

        <ion-card-header>
          <ion-card-title>
            <ion-skeleton-text
              [animated]="true"
              style="width: 95%"
            ></ion-skeleton-text>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-skeleton-text
              [animated]="true"
              style="width: 10%"
            ></ion-skeleton-text>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </div>

  <div [hidden]="segment != 'series'">
    <app-movies
      *ngFor="let serie of series"
      [data]="serie"
      [IsTv]="true"
    ></app-movies>

    <div *ngIf="noResults" class="no-results-div">
      <ion-icon name="skull" color="danger" size="large"></ion-icon>
      <ion-label class="handle-label">No results</ion-label>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="handleScroll($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
