<ion-loading #loading spinner="crescent" class="custom-loading"></ion-loading>

<ion-header [translucent]="true">
  <ion-toolbar>
    <form [formGroup]="searchForm">
      <ion-item>
        <ion-input
          formControlName="search"
          placeholder="Search"
          [clearInput]="true"
        ></ion-input>
      </ion-item>
    </form>
    <ion-buttons slot="end">
      <ion-icon
        name="search-outline"
        (click)="sendSearchForm()"
        class="handle-search-button"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div>
  <ion-row>
    <ion-col size="4">
      <ion-button
        id="open-picker-genre"
        class="btn-width"
        shape="round"
        color="light"
      >
        Genre
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button class="btn-width" shape="round" color="light">
        <ion-datetime-button
          datetime="datetime"
          class="btn-width"
          shape="round"
          color="light"
        ></ion-datetime-button>
      </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button
        id="open-picker"
        class="btn-width"
        shape="round"
        color="light"
      >
        Order by
      </ion-button>
    </ion-col>
  </ion-row>
</div>

<ion-segment [(ngModel)]="segment">
  <ion-segment-button value="movies">
    <ion-label>Movies</ion-label>
  </ion-segment-button>
  <ion-segment-button value="series">
    <ion-label>Series</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ion-picker
    trigger="open-picker-genre"
    [columns]="pickerColumnsGenre"
    [buttons]="pickerButtonsGenre"
  ></ion-picker>

  <ion-picker
    trigger="open-picker"
    [columns]="pickerColumnsOrderBy"
    [buttons]="pickerButtonsOrderBy"
  ></ion-picker>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime #datetime
        id="datetime"
        presentation="year"
        [showDefaultButtons]="true"
      >
    </ion-datetime>
    </ng-template>
  </ion-modal>

  <div [hidden]="segment != 'movies'">
    <app-movies *ngFor="let movie of movies" [data]="movie" [IsTv]="false"></app-movies>
  </div>

  <div [hidden]="segment != 'series'">
    <app-movies *ngFor="let serie of series" [data]="serie" [IsTv]="true"></app-movies>
  </div>
  <ion-infinite-scroll (ionInfinite)="handleScroll($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
