ion-icon {
     font-size: 24px;
}

ion-label {
     font-size: 25px;
}

.handle-margin {
     margin-right: 5px;
}

.handle-icon-critics {
     color: yellow;
}

.handle-icon-public {
     color: red;
}

.handle-title {
     font-weight: bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-transform: uppercase;
}
