<ion-row>
  <ion-col size="12">
    <ion-card (click)="openCard()">
      <img
        *ngIf="data.posterUrl"
        src="{{ data.posterUrl }}"
        width="400"
        height="450"
        alt="Imagen de {{ data.title }}"
      />
      <img
        *ngIf="!data.posterUrl"
        src="../../../assets/cover3.png"
        width="400"
        height="450"
        alt="Imagen no disponible"
      />

      <ion-card-header>
        <ion-card-title class="handle-title">{{ data.title }}</ion-card-title>
        <ion-card-subtitle>{{ setYear(data.date) }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col>
</ion-row>
